@import "tailwindcss";

:root {
  --background: #f7f5f4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edededed; 
    --foreground: #ededed;
  }
}

/* 0a0a0a */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-gutter: stable;
}

:root {
  view-transition-name: none;
}
::view-transition {
  pointer-events: none;
}

::view-transition-group(.vt-element-animation),
::view-transition-group(.vt-element-animation-closing) {
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.38, 0.49, 0, 1);
}

::view-transition-old(.vt-element-animation),
::view-transition-new(.vt-element-animation),
::view-transition-old(.vt-element-animation-closing),
::view-transition-new(.vt-element-animation-closing) {
  height: 100%;
  min-height: 100%;
  overflow: clip;
  object-position: left top;
}


@keyframes vt-fade-in {
  from {
    opacity: 0;
  }
}

@keyframes vt-fade-out {
  to {
    opacity: 0;
  }
}

::view-transition-old(.vt-element-animation) {
  animation: vt-fade-out 200ms both cubic-bezier(0.38, 0.49, 0, 1);
}
::view-transition-new(.vt-element-animation) {
  animation: vt-fade-in 200ms both cubic-bezier(0.38, 0.49, 0, 1);
}
::view-transition-old(.vt-element-animation-closing) {
  animation: vt-fade-out 200ms both cubic-bezier(0.75, 0, 0.41, -0.06);
}
::view-transition-new(.vt-element-animation-closing) {
  animation: vt-fade-in 200ms both cubic-bezier(0.75, 0, 0.41, -0.06);
}
