@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff; 
    --foreground: #ededed;
  }
}

/* 0a0a0a */

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scrollbar-gutter: stable;
}


@keyframes appear {
  0% {
    scale: 0.6;
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1;
  }
}

.appear {
  animation: appear  0.4s ease-in;
}

:root {
  view-transition-name: none;
}
::view-transition {
  pointer-events: none;
}

::view-transition-group(.memberRow){
  animation-duration: 0.8s;
}

::view-transition-group(.vt-element-animation),
::view-transition-group(.vt-element-animation-closing) {
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.38, 0.49, 0, 1);
}

::view-transition-old(.vt-element-animation),
::view-transition-new(.vt-element-animation),
::view-transition-old(.vt-element-animation-closing),
::view-transition-new(.vt-element-animation-closing) {
  height: 100%;
  width: 100%;
  overflow: clip;
  object-fit: cover;
  object-position: center;
}


@keyframes vt-fade-in {
  from {
    opacity: 0;
  }
}

@keyframes vt-fade-out {
  to {
    opacity: 0;
  }
}

::view-transition-old(.vt-element-animation) {
  animation: vt-fade-out 200ms both cubic-bezier(0.38, 0.49, 0, 1);
}
::view-transition-new(.vt-element-animation) {
  animation: vt-fade-in 700ms both cubic-bezier(0.38, 0.49, 0, 1);
}
::view-transition-old(.vt-element-animation-closing) {
  animation: vt-fade-out 300ms both cubic-bezier(0.75, 0, 0.41, -0.06);
}
::view-transition-new(.vt-element-animation-closing) {
  animation: vt-fade-in 200ms both cubic-bezier(0.75, 0, 0.41, -0.06);
}


@keyframes modalSlideDown {
  from {
    transform: translateY(0);
    scale: 1;
    opacity: 1;
  }
  to {
    transform: translateY(400px);
    scale: 0.5;
    opacity: 0;
  }
}

::view-transition-old(vt-modal-down) {
  animation: modalSlideDown 0.6s cubic-bezier(0.32, 0.94, 0.6, 1) forwards;
}

::view-transition-new(vt-modal-down) {
  animation: none;
}